$white: #fff;
$black: #000;
$manatee: #92929d;
$mirage: #171725;
$mirageFade: rgba(23, 23, 37, 0.04);
$mercury: #e5e5e5;
$blueRibbon: #0062ff;
$mischka: #e2e2ea;
$frenchGray: #b5b5be;
$athensGray: #fafafb;
$lightGray: #f1f1f5;
$midGray: #696974;
